:root {
    --md-primary-fg-color:        #191931;
    --md-primary-fg-color--light: #57577A;
    --md-primary-fg-color--dark:  #0D0D12;
    --md-accent-fg-color: #df4d3f;
  }

.mdx-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .mdx-banner__image {
    width: 100%;
    height: auto;
    max-width: 2154px;
    max-height: 850px;
  }