:root {
  --md-primary-fg-color:        #191931;
  --md-primary-fg-color--light: #57577A;
  --md-primary-fg-color--dark:  #0D0D12;
  --md-accent-fg-color: #df4d3f;
  --description-font-dark: #373737;
  --description-font-light: hsl(0, 0%, 100%);
  --button-hover-color: #ffffff;
  --shared-padding: 2rem 4rem;
  --shared-padding-mobile: 1rem 1rem;
  --shared-padding-mobile-bottom: 2rem;
  --shared-p-width: 680px;
}

body {
  background: #ffffff;
}

.bold-text {
  font-weight: bold;
}

.md-button.md-button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--md-primary-fg-color);
  color: var(--md-primary-fg-color);
}

.mdx-container {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 1'><path d='M0,0 H1123' style='stroke: hsla(0, 0%, 100%, 1); stroke-width: 1'/></svg>") no-repeat bottom, 
  linear-gradient(to bottom, var(--md-primary-fg-color) 30%, #ffffff 100%, var(--md-default-bg-color) 100%);
  padding-top: 1rem;
}

.mdx-hero {
  color: var(--md-primary-bg-color);
  margin: 0.8rem;
}

.mdx-hero h1 {
  color: currentcolor;
  font-weight: 700;
  margin-bottom: 1rem;
}

.mdx-hero__content {
  padding-bottom: 4rem;
  text-align: left;
}

.mdx-hero .md-button {
  color: var(--md-primary-fg-color);
  border-color: var(--md-accent-bg-color);
  margin-right: .5rem;
  margin-top: .5rem
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
}

.mdx-hero .md-button--primary {
  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
  color: var(--md-primary-fg-color);
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-fg-color);
  color: var(--md-accent-bg-color);
}

.mdx-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mdx-banner__image {
  width: 100%;
  height: auto;
  max-width: 2154px;
  max-height: 850px;
}
  
.product-close-up .product-image .iframe-container {
  position: relative;
  width: 100%; /* Full width of the container */
  padding-top: 56.25%; /* Aspect ratio of 16:9 (9 / 16 = 0.5625) */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.product-close-up .product-image .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  max-width: 960px; /* Optional: Limits the maximum width of the video */
  margin: auto; /* Helps in centering */
}

.product-close-up {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-close-up .product-video {
  width: 100%;    /* Makes the video width responsive */
  height: auto;   /* Maintains the aspect ratio */
  max-width: 640px; /* Maximum width of the video */
}

.product-close-up .product-close-up-content {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order on smaller screens */
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 2rem;
}

.product-close-up .product-image, .product-close-up .product-description {
  flex-basis: 100%;
  max-width: 100%;
}

.product-close-up .product-image img {
  max-width: 100%;
  height: auto;
}

.product-close-up .product-description {
  padding: 1rem;
  text-align: center;
}

.product-close-up .product-description p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--description-font-dark);
}


.product-features {
  background: var(--md-primary-fg-color);
  padding: var(--shared-padding);
  text-align: center;
}

.product-features h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--description-font-light);
}

.product-features .features-list .feature{
  margin-bottom: 1rem;
}

.product-features .features-list h3 {
  font-size: 1.2rem;
  color: var(--description-font-light);
}

.product-features .features-list p {
  font-size: 0.8rem;
  color: var(--description-font-light);
  max-width: var(--shared-p-width);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.product-features .read-more-btn {
  margin-top: 1rem;
  float: right;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid var(--md-primary-fg-color);
  border-radius: 0.25rem;
  font-size: 0.8rem;
  background-color: var(--md-primary-fg-color);
  color: var(--description-font-light);
  border: 1px solid var(--description-font-light);
}

.product-features .read-more-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--md-primary-fg-color);
}

#loadingMessage {
  text-align: center;
  font-size: 0.8rem;
  color: var(--description-font-light)
}

@media screen and (min-width:76.25em) {
  .mdx-hero__image {
      transform: translateX(8rem);
  }
}

@media screen and (min-width:60em) {
  .product-close-up .product-description p {
    padding-left: 2rem;
  }

  .mdx-hero {
      align-items: stretch;
      display: flex;
  }

  .mdx-hero__content {
      margin-top: 3.5rem;
      max-width: 19rem;
      padding-bottom: 14vw;
  }

  .mdx-hero__image {
      order: 1;
      transform: translateX(4rem);
      width: 38rem;
  }

  .product-close-up .product-close-up-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

  .product-close-up .product-image, .product-close-up .product-description {
      flex-basis: 50%;
  }

  .product-close-up .product-description {
      padding-left: 2rem;
      text-align: left;
  }

  .product-close-up .reverse-layout {
      flex-direction: row-reverse; /* Reverse layout for alternate sections */
  }

  .product-close-up .reverse-layout .product-description {
      padding-left: 0;
      padding-right: 2rem;
  }

  .product-features {
    padding: var(--shared-padding-mobile);
    padding-bottom: var(--shared-padding-mobile-bottom);
  }

  .product-features .read-more-btn {
      float: none;
      display: block;
      margin: 1rem auto 0;
  }
}

.dialogue-section {
  background: var(--md-primary-fg-color);
  padding: var(--shared-padding);
  text-align: center;
}

.dialogue-section-white {
  padding: var(--shared-padding);
  text-align: center;
}

.dialogue-bubble {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  position: relative;
  margin: 1rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #e7e7e7;
}

.dialogue-bubble p {
  font-size: 1.5rem;
  margin: 0;
  color: var(--description-font-dark);
  font-weight: bold;
}

#op-bubble {
  position: relative;
  align-items: center;
}

#op-bubble p {
  margin-top: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 3rem;
}

.dialogue-bubble::after {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 50%;
  border-width: 16px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: translateX(-50%);
}

.callout-button-container {
  text-align: center;
  margin-top: 2rem;
}

#join-waitlist-button {
  background-color: var(--button-hover-color);
  color: var(--md-primary-fg-color);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 2px solid var(--md-primary-fg-color);
  border-radius: 1rem;
  font-size: 1.2rem;
  display: block;
}

#join-waitlist-button:hover {
  color: var(--button-hover-color);
  background-color: var(--md-primary-fg-color);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px; /* Space between avatar and text */
}

@media screen and (max-width: 60em) {
  .dialogue-section {
      padding: 2rem 0rem;
  }

  .dialogue-section-white {
      padding: 2rem 0rem;
  }

  .avatar {
      margin-right: 0px;
      width: 32px;
      height: 32px;
  }

  .dialogue-bubble {
      padding: 1rem 1rem;
      margin: 1rem;
  }

  .dialogue-bubble p {
      padding-left: 0rem;
      font-size: 1rem;
  }

  #op-bubble p {
      padding-top: 6px;
      margin-top: 0rem;
      margin-bottom: 1rem;
  }

  .dialogue-bubble::after {
      bottom: -22px;
      border-width: 12px;
  }

  #join-waitlist-button {
      float: none;
      display: block;
      margin: 1rem auto 0;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
  }
}
